

html, body {
    /* color:black; */
    overflow-x: hidden;
}
p {
    margin-top:-5px; text-shadow: 1px 1px 3px black;
}
#current-page {
        color:blue;
        font-weight: bolder;
        font-style: oblique;   
 }
h1 {
    text-align:right;
    font-size:30px;
    padding: 20px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    font-family: custom2;
    font-size: 40px;
    text-shadow: 1px 1px 1px black;
    color:white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:100%;
}

    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    table {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    th {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 1px 1px 1px grey;
        color: white;

    }
    
td, th {
    /* border: 0px; */
    /* text-align: left; */
    padding-bottom: 5px;
  }
  td{
        /* text-align: left; */

  }



.left-aligned th {
    text-align: left;
}
.left-aligned td {
    text-align: left;
}

.left-aligned:nth-child(even) td:first-child {
width:2%;
padding:1px;   
/* background-color: purple; */
text-align: left;
/* padding-right:5px; */
}
.left-aligned:nth-child(even) td:nth-child(2) {
text-align: left;
width:20%;
padding:1px;   
/* background-color: red; */
/* padding-left:5px; */
}



tr:nth-child(even) td:first-child {
width:20%;
padding:0;        
}

::-webkit-scrollbar {
    display: none;
      }

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 13px;
    ;

}

.left-column {
    width: 20%; 
    text-align: right;
    align-content: right;
    align-items:right;
    position: relative;
    z-index: 3;
    backdrop-filter: blur(10px); 
    margin-right:200px;
    /* position: fixed; */
}
.left-column-content{
    align-content: right;
    align-items:right;
    text-align:right;
}

.right-column {
    position: relative;
    width: 70%;
    align-items: left;
    z-index: 3;
    backdrop-filter: blur(10px);
    color: whitesmoke;
    height: 80vh;
    overflow-x:hidden;
    animation: slidefromRight 3s;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color:red;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    
}


#menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    /* background: rgba(255, 255, 255, 0.8); */
    backdrop-filter: blur(10px); 
    color: whitesmoke;
    padding: 5%;
    animation: slidefromLeft 3s;
}



canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


@keyframes slidefromLeft {
    from {
        transform: translateX(-100%);   }
      to {
        transform: translateX(0); 
      }
          }
          #menu {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; 
    /* background: rgba(255, 5, 5, 0.8);  */
  }
  
@keyframes slidefromRight {
    from {
        transform: translateX(100%);   
     }
      to {
        transform: translateX(0); 
      }
          }
          #menu {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; 
    /* background: rgba(255, 5, 5, 0.8);  */
  }

  .slide-in {
    animation: slidefromBottom 1s ease-out;
}

  @keyframes slidefromBottom {
    from {
        transform: translateY(100%);   
     }
      to {
        transform: translateY(0);
      }


          }

          @keyframes slidefromBottom {
            from {
                transform: translateY(-100%);    
             }
              to {
                transform: translateY(0); 
              }
            }
          
          #menu {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; 
    /* background: rgba(255, 5, 5, 0.8);  */
  }

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 0.5s ease-out;
}

  @font-face{
    font-family: 'custom';
    src: url(fonts/Pixel\ Chaos.ttf);
  }
  @font-face {
    font-family: 'custom2';
    src: url(fonts/Cursive.ttf);
  }
    .banner {
          color: white;
          padding: 10px;
          text-align: left; 
          position: fixed; 
          bottom: 0; 
          width: 100%; 
          backdrop-filter: blur(10px); 
          color: whitesmoke;
          background-size: contain;
          /* background-blend-mode: screen;  */
          z-index: 4; 

        }
        .bannertext { 
            color:#ffffff;  
        
        animation: slidefromLeft 2s;
          font-family: custom;
          text-shadow: 3px 3px 10px black; 
          /* text-shadow: 1px 1px 5px white;  */
          font-size: 100px;
           

        }
        .bannertext a:hover {
            color: blue;
        }

        .bannerdesc {
            font-weight: bolder;
          color: white;
          text-shadow: 1px 1px 1px black; 

          font-size: 10px;
          animation:  slidefromBottom 2s;
        }
        
        .styled-button {
            background-color: #ffffff00;
            border: none;
            color: rgb(0, 0, 0);
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 1px 5px;
            cursor: grab;
            border-radius: 0px;
            transition: background-color 0.3s ease;
        }
        
        .styled-button:hover {
            background-color: #ffffff;
            color: blue;
        }
        
        .styled-button:active {
            background-color: blue;
            color: white;
            transform: scale(0.95);
            cursor: grabbing;

        }
        
        .styled-button:focus {
            outline: none;
            box-shadow: 0 0 0 10px rgba(244, 66, 66, 0);
            filter: blur(10px);
        }

        .styled-button.active {
            background-color: #FFA500; 
            color: rgb(255, 255, 255); 
        }

        .temp-align-left h2 {
            text-align: left;
        }
        
        .controls {
            backdrop-filter: blur(10px);
            animation: slidefromTop 3s;
        }
        .controls-text {
            padding:20px;
        }

        