@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Sen:wght@400..800&display=swap');

html, body {
    /* color:black; */
    overflow-x: hidden;
}
.box-bg {
    /* backdrop-filter: blur(10px); */
    padding:2%;
    font-family: "Sen";
    font-weight:600px;
}
    body {
        font-family: "Sen";
    
    }


canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

    