
body {
    background-color: black;
    color:white;
    /* overflow-y: hidden; */
}
#current-page {
        color:red
    }
h1 {
    text-align:right;
    font-size:30px;
    padding: 20px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:100%;
}

    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    table {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    th {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
td, th {
    border: 0px;
    text-align: right;
    padding-bottom: 5px;
  }



.left-aligned th {
    text-align: left;
}
.left-aligned td {
    text-align: left;
}

.left-aligned:nth-child(even) td:first-child {
width:2%;
padding:1px;   
/* background-color: purple; */
text-align: left;
/* padding-right:5px; */
}
.left-aligned:nth-child(even) td:nth-child(2) {
text-align: left;
width:20%;
padding:1px;   
/* background-color: red; */
/* padding-left:5px; */
}



tr:nth-child(even) td:first-child {
width:20%;
padding:0;        
}


* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 13px;
}

/* Set the width of the left column */
.left-column {
    width: 40%; /* Adjust this value as needed */
    text-align: right;
    align-content: right;
    align-items:right;
    background-color: black;
}

/* Set the width of the right column */
.right-column {
    width: 60%; /* Adjust this value as needed */
    height:70%;
    /* background-color: red; */
}
a {
    color:white;
    text-decoration: none;
}

a:hover {
    color:red;
}
/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    
}